<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB700 - Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Branding -->
        <a class="navbar-brand" href="#">Jadhusan Sadhik</a>
        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left-aligned Links -->
            <ul class="navbar-nav mr-auto">
                <!-- Active Link -->
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                <!-- Other Links -->
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/htmlDemo">HTML Demo</a></li>
            </ul>
            <!-- Right-aligned Links -->
            <ul class="navbar-nav ml-auto">
                <!-- Links -->
                <li class="nav-item"><a class="nav-link" href="/students">All Students</a></li>
                <li class="nav-item"><a class="nav-link" href="/tas">All Managers</a></li>
                <li class="nav-item"><a class="nav-link" href="/courses">All Courses</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Content Area -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <!-- Main Heading -->
                <h1>Welcome to My WEB700 Website!</h1>
                <!-- Introduction Paragraph -->
                <p>Welcome to my website! Here, I will be demonstrating HTML5 principles and techniques, as well as Routing in Express.</p>
                
                <!-- Section Heading -->
                <h2>About This Website</h2>
                <!-- Description -->
                <p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: All Students, Students by Course, A Single Student By Student Number, All Managers, and All Courses.</p>
                <!-- Links -->
                <p>You can access these pages using the following links:</p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/htmlDemo">HTML Demo</a></li>
                    <li><a href="/students">All Students</a></li>
                    <li><a href="/students?course=3">Students by Course</a></li>
                    <li><a href="/student/2">A Single Student By Student Number</a></li>
                    <li><a href="/tas">All Managers</a></li>
                    <li><a href="/courses">All Courses</a></li>
                </ul>

                
                <!-- Section Heading -->
                <h2>Why HTML5?</h2>
                <!-- HTML5 Introduction -->
                <p>This site utilizes HTML5, a markup language used for structuring and presenting content on the World Wide Web. HTML5 offers improved support for multimedia, form input types, and semantic elements, enabling the creation of modern, interactive web experiences.</p>
            </div>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
