		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<h1>Welcome to My Profile</h1>
					<h2>About Me</h2>
                    <p>I am a BTT student at Seneca Polytechnic Markham Campus, currently enrolled in the WEB700 course. My <a href="https://jadhusan.com/"> Porfolio</a></p>
					<ul>
                        <li>DBS710 - Advanced Database Design</li>
                        <li>NWK780 - Traditional Networks</li>
                        <li>OSL740 - Administration of Open Source Systems</li>
                        <li>OSM720 - Administration of Microsoft Systems</li>
                        <li>PMC700 - IT Project Management, Fundamentals, Tools and Techniques</li>
                        <li>WEB700 - Web Programming (Current Course)</li>
                    </ul>
				</main>
			</div>
		</div>
