    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <!-- Start your code here -->
                <section>
                    <!-- Introduction -->
                    <h1>HTML Demo</h1>
                    <p>Welcome to my website, where I will be demonstrating HTML5 principles and techniques, including the usage of various HTML elements.</p>
                </section>
                <section>
                    <!-- Tables -->
                    <h2>Tables</h2>
                    <!-- Table 1 -->
                    <table border="1">
                        <caption>Student Information</caption>
                        <thead>
                            <tr>
                                <th>Student ID</th>
                                <th>Name</th>
                                <th>Course</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Table Data -->
                            <tr>
                                <td>155547227</td>
                                <td>Jadhusan Sadhik</td>
                                <td>WEB700</td>
                            </tr>
                            <tr>
                                <td>155547667</td>
                                <td>Bianca Xavier</td>
                                <td>WEB700</td>
                            </tr>
                        </tbody>
                        <!-- Table Footer -->
                        <tfoot>
                            <tr>
                                <td colspan="3">Total Students: 2</td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- Table 2 -->
                    <table border="1">
                        <caption>Course Details</caption>
                        <thead>
                            <tr>
                                <th>Course Code</th>
                                <th>Course Name</th>
                                <th>Instructor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Table Data -->
                            <tr>
                                <td>WEB700</td>
                                <td>Web Programming</td>
                                <td>Prof. Priteshkumar Patel</td>
                            </tr>
                            <tr>
                                <td>DBS710</td>
                                <td>Advanced Database Design</td>
                                <td>Prof. Safoura Janosepah</td>
                            </tr>
                        </tbody>
                        <!-- Table Footer -->
                        <tfoot>
                            <tr>
                                <td colspan="3">Total Courses: 2</td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- Table Description -->
                    <p>This section contains HTML tables with student and course information.</p>
                </section>
                <section>
                    <!-- Lists -->
                    <h2>Lists</h2>
                    <!-- List Description -->
                    <h3>Things I have achieved</h3>
                    <ul>
                        <!-- List Items -->
                        <li>I contribute my skills through a Tech Blog and sharing tech information</li>
                        <li>I contribute to github</li>
                        <li>
                            My Certifications
                            <ul>
                                <li>CCNA</li>
                                <li>MCSA</li>
                                <li>MCSE</li>
                            </ul>
                        </li>
                        <li>Microsoft Ambassador</li>
                        <li>Github global student</li>
                    </ul>
                    <!-- List Description -->
                    <p>There's nothing quite like learning new things!</p>
                </section>
                <section>
                    <!-- Images -->
                    <h2>Images</h2>
                    <!-- Image Embedding -->
                    <!--Free to use under the Unsplash License - https://unsplash.com/license-->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder" width="300" height="200">
                    <img src="https://images.unsplash.com/photo-1691201200774-aee757f40cff?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Moutain1" width="300" height="200">
                    <img src="https://images.unsplash.com/photo-1702422578814-c27bea0b9cbf?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Mountain" width="300" height="200">
                    <!-- Image Description -->
                    <p>This section contains HTML images.</p>
                </section>
                <section>
                    <!-- Audio -->
                    <h2>Audio</h2>
                    <!-- Audio Embedding -->
                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
                        Your browser does not support the audio element.
                    </audio>
                    <!-- Audio Description -->
                    <p>This section contains audio MP3.</p>
                </section>
                <section>
                    <!-- Video -->
                    <h2>Video</h2>
                    <!-- Video Embedding -->
                    <video controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
                    </video>
                    <p>This section contains HTML video.</p>
                </section>
                <!-- End your code here -->
            </main>
        </div>
    </div>